@media screen and (max-width: 767px){
    
/*navbar*/
.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 20px 10px;
    }    

    /*Inicio da Página*/
    .principal{
        height: 110vh;
        padding: 60vh 0 100vh;
    }
    .info_assinatura{
        height: 90vh;
        margin-top: 60px;
        width: 80%;
        gap: 20px;
    }
    #info_chamada{
        width: 90%;
    }
    #info_valores{
        width: 100%;
    }
    .info_botao{
        animation: none;
    }
    #texto_pequeno{
        width: 100%;
    }

    /*Divisão 1*/
    .divisao1{
        background-position: center;
        background-size: contain;
        background-attachment: scroll;
    }

    /*Planos e preços*/
    .planos_precos{
        height: 270vh;
    }
    .cards_planos_precos{
        flex-direction: column;
        padding: 5px;
    }
    #card{
        padding: 40px;
    }
    #tit_preco{ 
        gap: 17px;
    }
    #tit_preco h3{
        color: white;
        font-size: 18px;
    }
    #tit_preco p{
        font-size: 22px;
    }
    #card button{
        width: 90%;
        padding: 10px 5px;
    }

    /*Conteudos*/
    .conteudos{
        padding-top: -150px;
        height: 150vh;
    }
    .conteudos_capas{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: 100%;
        overflow-x: auto;
        grid-auto-flow: column;
        height: 95vh;
        padding: 0;
    }
    #capa1{
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    #capa2{
        margin-left: 110px;
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    #capa3{
        margin-left: -20px;
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    #capa4{
        margin-left: -20px;
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    #capa5{
        margin-left: -20px;
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    #capa6{
        margin-left: -20px;
        transition: none;
        height: 90vh;
        width: 280px;
        background-position: center;
    }
    
    /*Rodapé*/
    .rodape{
        height: 45vh;
        padding: 20px;
    }
}