@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

/*Variaveis*/
:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

/*navbar*/
.navbar{
    height: 55px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 10px;
    position: fixed;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.navbar #link-logo{
    height: 100%;
    width: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.navbar #link-login{
    color: white;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    list-style-type: none;
}
.navbar button{
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 170px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/*Inicio da Página*/
.principal{
    padding-top: 55px;
    height: 100vh;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradiente 5s ease infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes gradiente {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.info_assinatura{
    height: 480px;
    width: 60%;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.info_logos{
    border: 1px solid red;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#info_chamada{
    border: 1px solid blue;
    width: 75%;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    color: white;
}
#info_chamada b{
    font-size: 50px;
}
#info_divisao{
    margin: 30px 0 30px 0;
    border: 3px solid;
    border-image: linear-gradient(to left, #56125b, #271e6e) 1;
    width: 100%;
}
#info_valores{
    border: 1px solid green;
    width: 40%;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: white;
}
#info_valores b{
    font-size: 50px;
}
.info_botao{
    width: 35%;
    padding: 12px 24px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
    background: linear-gradient(45deg, #56125b, #271e6e, transparent);
    animation: wiggle 2.2s linear infinite;
    cursor: pointer;
    filter: brightness(1.1);
}
.info_botao:hover{
    border: 2px solid #ff00e5;
    background: transparent;
}
@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}